/* .App {
  text-align: center;
} */
.animate-whole {
  animation: Page-load 1s ease-out forwards;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.mirror-img{
  transform: scale(-1,1);
}

.animate-project{
  box-shadow: 0px 0px 20px;
  animation: Project-focus 0.2s ease-in forwards;
}

.animate-skill{
  box-shadow: 0px 0px 10px;
  animation: Project-focus 0.2s ease-in forwards;
}

.vertical-ellipsis{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}

.body {
  background-color: #fff;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Page-load {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Project-focus {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.03);
  }
}
